@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #BDD6EC;
}

main {
	height: 750px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#fondo1 {
	background-image: url(./fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;

}

header {
	width: 100%;
	height: 150px;
	background-color: #373784;
}
.logo {
	max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding-left: 43%;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #181844;
}

#menu ul {
	padding-top: 5px;
	padding-left: 420px;
}

#menu li {
	display: inline;
}

#menu li a {
	font-size: 25px;
	text-decoration: none;
	padding: 40px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	color: #8986EE;
	text-align: center;
	font-family: 'Adamina', serif;
}
section {
	width: 100%;
	height: 600px;
}

#Video {
	padding-left:30%;
	margin-top: 3%;
	max-width: 100%;
    max-height: 100%;

}

#Info {
	width: 42%;
	height: 220px;
	background-color: #181844;
	margin-left: 30%;
	margin-top: 5%;
}

#Info h3 {
	font-size: 25px;
	padding-top: 20px;
	color: #515ACA;
	text-align: center;
	font-family: 'Adamina', serif;
}

#Info p {
	font-size: 20px;
	margin-right: 70px;
	margin-left: 70px;
	margin-top: 5px;
	color: #8986EE;
	text-align: center;
	font-family: 'Adamina', serif;
	text-align: justify;
}

footer {
	padding-top: 0;
	width: 100%;
	height: 70px;
	background-color: #4253B6;
	font-family: 'Adamina', serif;
}

.black {
    float: left;
    margin-left: 30px;
    margin-bottom: 3px;
}

#nombre{
	font-size: 17px;
	font-family: 'Adamina', serif;
	margin-left: 47%;
	padding-top: 20px;
}

#nombre a {
	text-decoration: none;
	color: #0D1467;
}

#logos li {
	display: inline;
}

#logos li a {
	text-decoration: none;
	float: right;
	margin-top: -30px;
	margin-right: 27px;
}

#fondo2 {
	background-color: #000000;
	height: 800px;
}

.titulos {
	font-size: 15px;
	padding-top: 5px;
	color: #7A4FE1;
	text-align: center;
	font-family: 'Adamina', serif;
	width: 100%;
	height: 70px;
	background-color: #0E1131;
}

#Caja {
	width: 50%;
	height: 600px;
	background-color: #070822;
}

#Caja ul {
	float: left;
	margin-top: -340px;
}

#Caja li {
	font-size: 15px;
	color: #A496F3;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Adamina', serif;
	text-align: justify;
}


#Galeria {
	float: right;
	margin-left: 55%;
	margin-top: 70px;
	padding: 3px;
  }

 #fondo3 {
 	background-color: #A6B9E7;
 }

#Cast {
	margin-left: 5%;
	margin-right: 5%;
}

.Fotos1 {
	clear: left;
	padding-left: 25%;
}

.Fotos2 {
	margin-left: 25%;
	margin-top: 20%;
}
.galeria_img {
	float: left;
	padding-left: 5.5%;
	padding-right: -1%;  
	margin-top: 1%;

}

.galeria_text{
	text-align: center;
	font-family:'Adamina', serif;
	color: #080554;
}


#fondo3 {
	background-color: #93B7D1;
	height: 800px;
}

#formulario {
	font-family:'Adamina', serif;
	color: #481596;
	margin-top: 4%;
	padding-left: 10%;
}

.trivia {
	padding-left: 2%;
	font-size: 15px;
}

.boton {
	float: left;
	margin-left: 10%;
}

#poster {
	float: right;
	padding-right: 15%;
}



